.page {
  background-color: #fff;
  color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  position: relative;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 1100px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}
